page-service-creator {
    ion-grid{
        ion-row{
            [onethird]{
                width: 30%;
                display: inline-flex;
            }
        }
    }

    ion-label{
        width: 30%;
        color: theme-colors('textColors', 'primary','opacity100') !important;
        font-size: 1.6rem;
        font-weight: bold;
        -webkit-flex: none!important; 
        flex: none!important; 
    }
    ion-input, ion-textarea, ion-select{
        color: theme-colors('textColors', 'accent','opacity100') !important;
    }
    ion-select{
        max-width: 100% !important;
    }
    ion-segment{
        margin:0 auto;
        width: 98%;
    }
   /*  .txt-ara{
        border-top: solid 2px color($colors,'dark') !important;
        border-bottom: solid 2px color($colors,'dark') !important;
    } */
  
}
