<!--
  Generated template for the ServiceCreatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>serviceCreator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid padding-top>
      <ion-row >
        <ion-col col-12 align-self-start>
          <ion-item no-lines>
            <ion-label onethird>Serv Type:</ion-label>
            <ion-select  interface="action-sheet" [(ngModel)]="servItem.type">
              <ion-option *ngFor="let t of types" value="{{t}}">{{t}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines>
            <ion-label onethird>Description:</ion-label>
            <ion-textarea rows="3" clearInput placeholder="Please describe the services you provide.." [(ngModel)]="servItem.description"></ion-textarea>
          </ion-item>
          <ion-item no-lines box-shadow margin-bottom>
              <ion-label onethird>Location:</ion-label>
            <ion-input clearInput type="text" placeholder="your address.." [(ngModel)]="servItem.location"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label onethird>Duration:</ion-label>
            <ion-input placeholder="1" type="number" required="true" [(ngModel)]="servItem.duration"></ion-input>
          </ion-item>
            <ion-segment [(ngModel)]="servItem.unit" color="secondary">
              <ion-segment-button *ngFor="let u of units" value="{{u}}">
                {{u}}
              </ion-segment-button>
            </ion-segment>
        <ion-item no-lines>
            <ion-label onethird>Price:</ion-label>
            <ion-input type="number" required="true" placeholder="100" [(ngModel)]="servItem.price"></ion-input>
        </ion-item>
        <ion-segment [(ngModel)]="servItem.currency"  color="secondary">
            <ion-segment-button *ngFor="let c of currencys" value="{{c}}">
              {{c}}
            </ion-segment-button>
          </ion-segment>       
        
          <ion-item-group>
          <ion-item no-lines box-shadow margin-top class="txt-ara">
              <ion-label onethird>Declaimer:</ion-label>
              <ion-textarea rows="4" placeholder="Please give the notice.." [(ngModel)]="servItem.declaimer"></ion-textarea>
          </ion-item>
          <!-- <ion-item no-lines>
              <ion-label onethird>Availability:</ion-label>
              <ion-toggle checked="true" [(ngModel)]="servItem.availability" color="secondary"></ion-toggle>
          </ion-item> -->
      <ion-item no-lines box-shadow margin-bottom>
          <ion-label onethird>Tags:</ion-label>
        <ion-textarea clearInput  placeholder="tag yourself.." rows="2" [(ngModel)]="servItem.tags"></ion-textarea>
      </ion-item>
        </ion-item-group>
    <!-- <button ion-button default-button [disabled]="disableBtns" (click)="onClick('discard')" class="btn" float-right>Discard</button> -->
    <!-- <button ion-button default-button [disabled]="disableBtns" (click)="onClick('send')" class="btn" float-right>Send</button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
