<!--
  Generated template for the ChatDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{chatItem.ctitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines clear>
    <ion-item *ngFor="let item of items | async">
      <ion-avatar item-end *ngIf="item.sender === currentUid">
        <img src="{{item.savatar}}">
      </ion-avatar>
      <ion-avatar item-start *ngIf="item.sender != currentUid">
        <img src="{{item.savatar}}">
      </ion-avatar>
      <!-- <p>{{item.snickname}}<p> -->
      <!-- <span>{{item.time}}</span> -->
      <div [class]="item.sender === currentUid ?  'msg-ctn msg-right' : 'msg-ctn msg-left'">     
        <h2>{{item.message}}</h2>
        <h2>{{item.time.toDate() | date: "short"}}</h2> 
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="onClick()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
      <ion-textarea placeholder="Input Messsage Here!" [(ngModel)]="message.message" ></ion-textarea>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
