page-order-creator {
    .scroll-content {
        padding-bottom: 0 !important;
        ion-grid {
            height: 100%;
            padding: 0 !important;
      
            ion-row {
              height: 100%;
              [large-col]{
                width: calc(70% - 3px);
                display: inline-flex;
              }
              [half-col] {
                width: calc(40% - 4px);
                display: inline-flex;
            }
            
            [small-col]{
                width: calc(30% - 2px);
                display: inline-flex;
            }
            [onethird]{
                width: 30%;
                display: inline-flex;
            }
            }
        }
        .item.item-input.input-has-focus .item-inner,
        .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
                                                                                                                -webkit-box-shadow: none !important;
                                                                                                                box-shadow: none !important;
        }
        .datetime-text{
            text-align: left !important;
        }
        [span]{
            color: theme-colors('mainColors', 'secondary', 'opacity60') !important;
        }
    }
}
