page-chat {
    ion-item{
        ion-row{
            ion-col{
                overflow: visible !important;
                ion-thumbnail{
                    position: relative;
                    /*  min-width: 100px;
                    min-height: 100px;
                    position: relative;
                    overflow: visible!important; */
                    img{
                        border-radius: 5px !important;
                        min-width: 50px !important;
                        min-height: 50px !important;
                    }
                }
                ion-badge{
                    position: absolute !important;
                    top: 0px !important;
                    left: 45px !important;
                }
            }
        }
    }
    ion-row{
        color: theme-colors('textColors', 'secondary', 'opacity60');
        .msg-nm{
            float: left;
            font-weight: bold;
            color: theme-colors('textColors', 'accent', 'opacity100');
            padding-top: 5px;
        }
        .msg-tm{
            width: 100%;
            display: block;
            padding-top: 5px;
            float: right;
            white-space: normal;
        }
        .msg-ctn{
            width: 80%;
            float: left;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            padding-bottom: 5px;
        }
    }   

}
