page-profile {
    ion-list{
        background-color: #424242 !important;
    }
        ion-avatar{
            max-width: 80px;
            max-height: 80px;
            overflow: hidden;
            border-radius: 50%;
        }
        p{
            color: #eee;
        }

        .sys_font{
            color: #eee;
            width: 100px;
        }
        .usr_font{
            color: #fcd736;
        }
        
        ion-datetime{
            display: inline-block;
            color: #fcd736;
            padding-left: 0px !important;
        }
        /* ion-textarea{
            rows: 5;
        } */

    }
            .picker-wrapper{
                .picker-opt{
                    color: snow;
                }
                .button{
                    margin-top: 0px !important;
                }  
            }       

