page-profile {
    ion-list{
        background-color: #424242 !important;
    }
        ion-avatar{
            max-width: 80px;
            max-height: 80px;
            overflow: hidden;
            border-radius: 50%;
        }
        p{
            color: #eee;
        }
        ion-label{
            width: 30%;
            color: theme-colors('textColors', 'primary','opacity100') !important;
            font-size: 1.6rem;
            font-weight: bold;
            -webkit-flex: none!important; 
            flex: none!important; 
        }
        ion-input, ion-textarea, ion-select{
            color: theme-colors('textColors', 'accent','opacity100') !important;
        }

        
        ion-datetime{
            display: inline-block;
            color: #fcd736;
            padding-left: 0px !important;
        }
        /* ion-textarea{
            rows: 5;
        } */

    }
            .picker-wrapper{
                .picker-opt{
                    color: snow;
                }
                .button{
                    margin-top: 0px !important;
                }  
            }       

