page-service-details {

    ion-card {
        background-color: theme-colors('textColors','accent') !important;
        color: theme-colors('textColors', 'secondary') !important;
        min-height: 500px !important;
        padding: 10px !important;   
    }

}
