page-service-details {
    ion-list{
        max-width: 960px !important;
        margin: 10px auto !important;

    ion-slides{
        ion-slide.swiper-slide {
            align-items: flex-start;          
            img{
                width: 100%;
                display: block;
            }
        }
    }
    ion-list{
        // border-radius: 5px;
        // overflow: hidden;
        width: 100%;
        margin: 0 auto !important;
        ion-item{
            width: 100% !important;
            height: auto !important;
        }
    }    
    [chatbt]{
        margin-top: 10px;
    }
}
}