<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item no-lines>
            <!--div *ngIf="currentUser | async"-->
          <ion-avatar>
            <img src="{{(currentUser | async)?.avatar}}"/>        
          </ion-avatar>
        <!--/div-->
          <ion-item class="username" no-lines>
            <button ion-button (click)="goProfile()">{{(currentUser | async)?.nickname}}</button>
          </ion-item>
          <p class="starrank"><ion-icon icon-small *ngFor="let i of [1,2,3,4,5]"><i class="{{(currentUser | async)?.star[i]}}"></i></ion-icon>
          <span span-small>{{(currentUser | async)?.rate}}</span>
          </p>
          <div class="sgn_btn">
            <button ion-button (click)="onClick('signout')">Sign out</button>
          </div>
        </ion-item>
        <ion-item no-lines>
            <ion-segment color="grey" [(ngModel)]="tabs">
                <ion-segment-button (click)="selectTab(0)" value="0">Wallet</ion-segment-button>
                <ion-segment-button (click)="selectTab(1)" value="1">Service</ion-segment-button>
                <ion-segment-button (click)="selectTab(2)" value="2">Calender</ion-segment-button>
                <ion-segment-button (click)="selectTab(3)" value="3">Posts</ion-segment-button>
                <div id="slide" class="slide"></div>
            </ion-segment>
          <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
              <ion-slide class="wal_sld" >
                <h1>$100.00</h1>
                <div>
                  <button ion-button>Top up</button>
                  <button ion-button>Transfer</button>
                </div>
                <ion-list>
                  <ion-item *ngFor="let item of transList">
                   <p> Transaction Details</p> 
                   <div class="mny_io"><span>$100</span></div>
                   <div class="trans_date">Mon 09 Jul 2018</div>
                   <div class="bal">balance <span>$200.00</span></div>
                  </ion-item>
                </ion-list>
              </ion-slide>
              <ion-slide class="svs_sld">
                <ion-item id="nw_pst" (click)="onClick('newtype')">
                    <p>New Service</p>
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </ion-item >
                <button ion-item (click)="onClick('sv_dscp')"> 
                  <ion-col col-8>
                      <span>Service Name</span>
                  </ion-col>
                  <ion-col col-4>
                      <span>$AUD 500</span>
                  </ion-col>
                </button>
                <!-- ion-grid>
                  <ion-row>
                    <ion-col col-8>Service Name</ion-col>
                    <ion-col col-4> Price</ion-col>
                  </ion-row>
                </ion-grid> -->
              </ion-slide>
              <ion-slide class="cal_sld">
                <div class="cal_blk">
                  <div class="calendar-header">
                    <ion-row class="calendar-month">
                      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
                      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
                      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
                    </ion-row>
                  </div>
                  <div class="calendar-body">
                    <ion-grid>
                      <ion-row class="calendar-weekday">
                        <ion-col>Su</ion-col>
                        <ion-col>Mo</ion-col>
                        <ion-col>Tu</ion-col>
                        <ion-col>We</ion-col>
                        <ion-col>Th</ion-col>
                        <ion-col>Fr</ion-col>
                        <ion-col>Sa</ion-col>
                      </ion-row>
                      <ion-row class="calendar-date">
                        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
                        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
                          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
                          <ng-template #otherDate class="otherDate">
                            {{day}}<br>
                            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
                          </ng-template>
                        </ion-col>
                        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="selected-event" *ngIf="isSelected">
                    <ion-list>
                      <ion-item *ngFor="let se of selectedEvent">
                        <ion-buttons end>
                          <button ion-button clear icon-only (click)="deleteEvent(se)">
                            <ion-icon name="close"></ion-icon>
                          </button>
                        </ion-buttons>
                        <h2>{{se.title}}</h2>
                        <h3>{{se.message}}</h3>
                        <p>Start Date: {{se.startDate}}<br>
                        Start Date: {{se.endDate}}</p>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
              </ion-slide>
              <ion-slide class="pst_sld">
              <ion-item id="nw_pst" (click)="onClick('new')">
                  <p>New Post</p>
                  <ion-icon name="ios-arrow-forward"></ion-icon>
              </ion-item>
                    <ion-grid>
                      <ion-row *ngFor="let item of items | async">
                          <ion-col col-3>
                            <ion-item class="dat_lt">
                                <span id="date">{{item.postDate}}</span>
                                <span id="month">{{item.postMonth}}</span>
                            </ion-item>
                          </ion-col>
                          <ion-col col-3>
                            <img src="{{item.images[0]}}"/>
                          </ion-col>
                          <ion-col col-6>
                            <ion-item class="cnt_rt">
                              <div innerHTML = {{item.description}}></div>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                    </ion-grid>
                   
              </ion-slide>
            </ion-slides>
        </ion-item>
      </ion-list>
      <!--  <ion-fab>
          <button button-ion-fab ion-fab (click)="onClick('new')">
              <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab> -->
</ion-content>
