page-user {

    ion-avatar{
            
        img{
            margin: 0 auto;
            min-width: 60px !important;
            min-height: 60px !important;
        }
    }
    .username{
        color: #eee;
        text-align: center !important;
        button{
            margin-top: 20px !important;
        }
    }
    .starrank{
        margin-top: 10px;
        text-align: center;
        color: #fcd736 ;
        ion-icon{
            color: #fcd736 !important;
        }
    }
    .sgn_btn{
        text-align: center;
    }
   
    .wal_sld{
        h1{
            color: #fcd736;
            margin-top: 20px !important;
           }
        ion-item{
            color: #eee;
            p{
                width: 60%;
                float: left;
            }
            .mny_io{
                float: right;
                span{
                    color : green;
                }
            }
            .trans_date{
                width: 60%;
                float: left;
            }
            .bal{
                float: right;
                span{
                    color : #fcd736;
                }
            }
        }
        
    }
    ion-grid{
        ion-row{ 
            .dat_lt{
                padding-left: 0px;
                 color: snow;
                 width: 100%;
           
                #date{
                    font-size: 30px;   
                }
                #month{
                    font-size: 15px;
                }
            }
            .cnt_rt{
                padding-right: 0px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                // white-space: pre-wrap !important;
            }
    
        }
    }
    #nw_pst{
        border: 1px solid #424242;
        border-radius: 5px;
        margin: 10px 0px;
        p{
            float: left;
        }
        ion-icon{
            float: right;
            color: #424242;
        }
    }
    // Calendar css
    .cal_blk{
        margin:20px auto 0px;
        padding: 0 1px;
        max-width: 600px;
        border-radius: 5px;
        overflow: hidden;
        
        [col-1] {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333%;
            -ms-flex: 0 0 8.33333%;
            flex: 0 0 14.285714285714286%;
            width: 14.285714285714286%;
            max-width: 14.285714285714286%;
          }
          .col {
            text-align: center;
            padding: 5px;
          }
          .last-month, .next-month {
            color: #999999;
            font-size: 90%;
          }
          .currentDate, .otherDate {
            padding: 5px;
          }
          .currentDate {
            font-weight: bold;
            background-color: red;
            color: white;
            border-radius: 30px;
          }
          .calendar-header {
            background-color: #eef0f2;
            color: black;
          }
          .event-bullet {
            margin: 2px auto;
            height: 5px;
            width: 5px;
            background-color: green;
            border-radius: 30px;
          }
          .selected-date {
            width: 20px;
            height: 2px;
            background-color: blue;
          }
          .unselected-date {
            border: none;
          }
          .calendar-body {
              background-color: #eef0f2;
            .grid {
              padding: 0;
            }
            .col:last-child {
              border-right: none;
            }
            .calendar-weekday, .calendar-date {
              text-align: center;
              margin: 0;
            }
            .calendar-weekday {
              font-weight: bold;
              border-bottom: solid 1px #fcd736;
              background-color: #fcd736;
            }
            /* .calendar-date {
              border-top: solid 1px #1a732d;
              border-bottom: solid 1px #1a732d;
            } */
          }
    }
}
