page-user {
// personal information

[background-size] {
    @include darkening-blend-mode;
    width: 100%;
    height: 250px;
    display: table;
    position: relative;
    z-index: 999;
    [social] {
        @include social;
        color: color($colors,'secondary') !important;
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 9;
    }
    [location]{
        width: 100%;
        color: color($colors,'secondary') !important;
        position: absolute;
        bottom: 10px;
        left: 20px;
        z-index: 9;
    }
    .title {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        [parallax-title] {
            color: color($colors,'secondary') !important;
            position: relative;
            z-index: 9;
            margin-top: 0;
        }
        [parallax-subtitle] {
            margin-bottom: 0;
            position: relative;
            z-index: 9;
        }
    }
}
// segment button
ion-segment{
    margin:0 auto;
    width: 98%;
}


/* ion-slide{
    position: relative !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
 */
//    segment slider
    /* .wal_sld{
        h1{
            color: #fcd736;
            margin-top: 20px !important;
           }
        ion-item{
            color: #eee;
            p{
                width: 60%;
                float: left;
            }
            .mny_io{
                float: right;
                span{
                    color : green;
                }
            }
            .trans_date{
                width: 60%;
                float: left;
            }
            .bal{
                float: right;
                span{
                    color : #fcd736;
                }
            }
        } 
    }*/
 
    /* ion-grid{
        ion-row{ 
            .dat_lt{
                padding-left: 0px;
                 color: snow;
                 width: 100%;
           
                #date{
                    font-size: 30px;   
                }
                #month{
                    font-size: 15px;
                }
            }
            .cnt_rt{
                padding-right: 0px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                // white-space: pre-wrap !important;
            }
    
        }
    } */

    // Calendar css
    /* .cal_blk{
        margin:20px auto 0px;
        padding: 0 1px;
        max-width: 600px;
        border-radius: 5px;
        overflow: hidden;
        
        [col-1] {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 8.33333%;
            -ms-flex: 0 0 8.33333%;
            flex: 0 0 14.285714285714286%;
            width: 14.285714285714286%;
            max-width: 14.285714285714286%;
          }
          .col {
            text-align: center;
            padding: 5px;
          }
          .last-month, .next-month {
            color: #999999;
            font-size: 90%;
          }
          .currentDate, .otherDate {
            padding: 5px;
          }
          .currentDate {
            font-weight: bold;
            background-color: red;
            color: white;
            border-radius: 30px;
          }
          .calendar-header {
            background-color: #eef0f2;
            color: black;
          }
          .event-bullet {
            margin: 2px auto;
            height: 5px;
            width: 5px;
            background-color: green;
            border-radius: 30px;
          }
          .selected-date {
            width: 20px;
            height: 2px;
            background-color: blue;
          }
          .unselected-date {
            border: none;
          }
          .calendar-body {
              background-color: #eef0f2;
            .grid {
              padding: 0;
            }
            .col:last-child {
              border-right: none;
            }
            .calendar-weekday, .calendar-date {
              text-align: center;
              margin: 0;
            }
            .calendar-weekday {
              font-weight: bold;
              border-bottom: solid 1px #fcd736;
              background-color: #fcd736;
            }
            .calendar-date {
              border-top: solid 1px #1a732d;
              border-bottom: solid 1px #1a732d;
            } 
          }
    } */
   /*  .pst-grd{
        max-height: 100px;
    } */
    [post] {
        position: relative;
        width: 98% !important;
        margin:5px auto !important;
       
       /*  [card-img] {
            width: 130px;
            height: 130px;
            position: relative;
            margin-right: 10px;
        } */
     
       /*  ion-item-header{
            color: color($colors,'secondary') !important;
        } */
        ion-thumbnail{
            width: 100px !important;
            height: 100px !important;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover ;
            }
        }
        item-content{
            height: 100%;
            width: 100%;
        #description{
                margin-top: 10px;
                white-space: normal;
                overflow: hidden !important;
                display: -webkit-box !important;
                max-height: 60% !important;
                max-width: 96% ;
                display: block;
                p{
                    font-size: 12px !important;
                    line-height: 12px !important;
                }
            }
        #date{
                color: color($colors,'secondary') !important;
                position: absolute;
                right: 2.5rem;
                bottom: 1rem;
            } 
        }
   
    }
    #pst-cd{
        height: 120px !important;
    }
 
    #dftbtn{
        width: 95% !important;
        margin-right: 5px !important;
        background: transparent;
    }
}
        [card] {
            border-radius: $border-radius !important;
            overflow: visible;
            position: relative;
        
            &:after {
              content: "";
              width: 2px;
              background: theme-colors('mainColors', 'primary') !important;
              top:0;
              left: -30px;
              bottom: -16px;
              position: absolute;
            }
        
            &:before {
              content: "";
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: theme-colors('mainColors', 'secondary') !important;
              top:0;
              left: -37px;
              position: absolute;
              z-index: 999;
            }
        }
        ion-list > [card]:last-child {
            &:after {
              display: none;

            }
          }
        ion-item-group{
            border-radius: $border-radius !important;
        }

        ion-item-sliding {
            border-radius: $border-radius !important;
        }
        .icon-plus{
            font-size: 20px !important; 
        }